.Pantry-body{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 7.5px;
}

.Pantry-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 20px;
    height: 70px;
    width: 70px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.s{
    margin-top: -15px;
}