.login-Page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .login-Help{
    grid-area: welcome-Help;
    background-color: #E6E6E6;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.login-input{
    grid-area: login-Button;
    height: 40px;
    width: 300px;
    border-radius: 20px;
  }

  .login-Button{
    grid-area: login-Button;
    height: 50px;
    width: 200px;
    border-radius: 20px;
  }
  .login-forgot-password{
    grid-area: welcome-Help;
    background-color: #E6E6E6;
    height: 25px;
    width: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }