.dashboard{
    display: flex;
    flex-direction: column;
}

.meal-component{
    border: 2px solid black;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

@media (min-width: 501px){
    .mostRecent{
        background-color: #162F33;
        border-radius: 15px;

        /* display: flex;
        justify-content: center;
        align-items: center; */

        height: 20px;
        width: 155px;
        margin-left: 10px;
    }
}

@media (max-width: 500px){
    .mostRecent{
        background-color: #162F33;
        border-radius: 15px;

        /* display: flex;
        justify-content: center;
        align-items: center; */

        height: 20px;
        width: 155px;
        margin-left: 10px;
    }
}