@media (min-width: 501px){
    .Banner-Image{
        border-radius: 25px;
        height: 350px;
        width: 100%;
    }
}

@media (max-width: 500px){
    .Banner-Image{
        border-radius: 25px;
        height: 230px;
        width: 450px;
    }
}