@media (min-width: 501px){
  .iconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0BE76;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .IconButton{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}

@media (max-width: 500px){
  .iconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0BE76;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .IconButton{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}