@media (max-width: 500px){
    .Vertical-Calander{
        
        
        background-color: black;
        
        border-radius: 20px;
        max-height: 250px;
        min-width: 100px;
        min-height: 150px;
        margin: 10px 0 0 0;
        padding-bottom: 105px;
    }

    .calander-text{
        text-align: center;
        color: aliceblue;
    }
}