@media (min-width: 501px){
    .Pantry-item-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 20px;
    height: 80px;
    width: 80px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: bold;
  }

  .ingredient_img{
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
  }

  .Item-Count{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0fff6;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-bottom: -25px;
    margin-top: -10px;
    margin-left: 60px;
  }
}

@media (max-width: 500px){
  .Pantry-item-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  border-radius: 20px;
  height: 80px;
  width: 80px;
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: bold;
}

.ingredient_img{
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
}

.Item-Count{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0fff6;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-bottom: -25px;
  margin-top: -10px;
  margin-left: 60px;
}
}