@media (min-width: 501px){
  .Brand_Image{
      background-color: #E0BE76;
      height: 300px;
      width: 300px;
      border-radius: 50%;
    }
  }

@media (max-width: 500px){
.Brand_Image{
    background-color: #E0BE76;
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}