.shopping-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shopping-list-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*gap: 20px;
    margin: -20px;*/
}